html, body, #app, #app>div {
  height: 100%;
  width: 100%;
}

html, body{
  padding:0px;
  background-color: black;
}


.app{
  width: 100vw;
  height:100vh;
  padding:0;
  margin:0;
}

.logo{
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-right:10px;
}


.logo-container{
  display: flex;
  align-items: center;
}


body {
  cursor: url('/Users/affanimran/Desktop/hacking/src/assets/cursor/space-ship.png'), auto;
  /* Fallback cursor */
  /* cursor: url('default-cursor.png'), auto; */
}
