html, body, #app, #app>div {
  height: 100%;
  width: 100%;
}

html, body{
  padding:0px;
  background-color: white;
}

.unity{
  height: calc(100vh - 75px);
  width: 100vw;
}

.app{
  width: 100vw;
  height:100vh;
  padding:0;
  margin:0;

  background-color: white;
  color: black;
}

div{
  color: white;
}

.logo{
  width: 50px;
  height: 50px;
  padding: 5px;
  margin-right:10px;
}


.logo-container{
  display: flex;
  align-items: center;
}