.bot{
    width: 50vw;
    height: 50vh;
    top: 50%;
    left: 50%;
}

.bot-window{
    position:absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 10vh;
    left: 50%;
    transform: translate(-50%,0);
}

.theform{
    padding: 5px;
}