.solar3d{
    width: 100vw;
    height: calc(100vh - 75px);
}

.black-thing{
    position:absolute;
    width: 100vw;
    height: 75px;
    background-color: black;
    top: calc(100vh - 75px);
}

.tit-container{
    position: absolute;
    left: 100px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgba(0,0,0,0.7);
    padding: 50px;
}

.solar-window{
    position: relative;
}

.big-title{
    font-size: 50px;
}

.small-title{
    font-size: 25px;
    padding: 5px;
}